<a href="https://colab.research.google.com/github/Prajna1999/BioGPT/blob/main/data_management_weather_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd

def generate_csv_for_year(input_csv, output_csv):
    """
    Generates a new CSV containing only rows for the year 2020.

    Args:
        input_csv: The path to the input CSV file.
        output_csv: The path to save the output CSV file.
    """
    # Read the CSV file
    df = pd.read_csv(input_csv)

    # Filter for year 2020
    df_filtered = df[df['Year'] == 2020]

    # Save the result to a new CSV file
    df_filtered.to_csv(output_csv, index=False)

# Usage
generate_csv_for_year('/content/harvest price per quintal - Sheet1.csv', 'filtered_harvest_price_2020.csv')

In [91]:
df2=pd.read_csv('/content/filtered_harvest_price_2020.csv')
df2.head()

,St_code,State_name,Year,RICE_TP,PADY_TP,SORG_TP,PMLT_TP,MAIZ_TP,FMLT_TP,WHT_TP,BRLY_TP,CPEA_TP,PPEA_TP,SGUR_TP,GNUT_TP,RM_TP,SESA_TP,LINS_TP,CAST_TP,COTNK_TP
0,1,Andhra Pradesh,2020,-1.0,1764.5,2200.5,1687.0,1635.5,2204.5,-1.0,-1.0,4717.0,5844.0,-1.0,5228.0,-1.0,7169.0,-1.0,3748.0,4933.0
1,17,Assam,2020,-1.0,1310.0,-1.0,-1.0,1284.0,-1.0,2770.0,-1.0,5213.0,7562.0,-1.0,-1.0,3220.0,6865.0,3567.0,8064.0,5069.0
2,2,Bihar,2020,-1.0,1386.0,902.0,1187.0,1356.0,1169.0,1712.0,1212.0,4224.0,5006.0,-1.0,6803.0,4336.0,5346.0,3620.0,-1.0,-1.0
3,29,Chandigarh,2020,-1.0,1889.0,-1.0,-1.0,1660.0,-1.0,1950.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,14,Chhattisgarh,2020,3884.0,2017.5,3564.0,4257.0,1962.0,2628.0,2357.0,1563.0,5670.0,7319.5,-1.0,6405.0,-1.0,12101.0,-1.0,2275.0,-1.0

In [46]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (3.1.1)

In [92]:
# create sqlalchemy schema for upserting
import pandas as pd
from sqlalchemy import create_engine,Column, Integer, String,Float
# from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy.dialects.postgresql import insert

# database connection string
DATABASE_URL="postgresql://datspacedb_owner:XYak9IH4MpPG@ep-still-night-a1ctysym-pooler.ap-southeast-1.aws.neon.tech/crop-insurance?sslmode=require"
engine = create_engine(DATABASE_URL)
Base=declarative_base()

In [100]:
# define the schema
class HarvestPrice(Base):
  __tablename__='harvest_price'
  id=Column(Integer,primary_key=True)
  State_name=Column(String)
  St_code=Column(String)
  Year=Column(Integer)
  RICE_TP = Column(Float)
  PADY_TP = Column(Float)
  SORG_TP = Column(Float)
  PMLT_TP = Column(Float)
  MAIZ_TP = Column(Float)
  FMLT_TP = Column(Float)
  WHT_TP = Column(Float)
  BRLY_TP = Column(Float)
  CPEA_TP = Column(Float)
  PPEA_TP = Column(Float)
  SGUR_TP = Column(Float)
  GNUT_TP = Column(Float)
  RM_TP = Column(Float)
  SESA_TP = Column(Float)
  LINS_TP = Column(Float)
  CAST_TP = Column(Float)
  COTNK_TP = Column(Float)

<ipython-input-100-2d91160bcdf4>:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.HarvestPrice, and will be replaced in the string-lookup table.
  class HarvestPrice(Base):

InvalidRequestError: Table 'harvest_price' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [101]:
Base.metadata.create_all(engine)
Session=sessionmaker(bind=engine)
session=Session()
# read the csv
# df=pd.read_csv('/content/filtered_harvest_price_2020.csv')
# df.replace(-1.0, None, inplace=True)
# df.head()

In [102]:
# upsert table script
def upsert_table(session,df):
  table=HarvestPrice.__table__
  stmt=insert(table).values(df.to_dict(orient='records'))
  # stmt = stmt.on_conflict_do_update(
  #       index_elements=['State_name', 'St_code'],
  #       set_={c.key: c for c in stmt.excluded if c.key not in ['State_name', 'St_code']}
  #   )
  session.execute(stmt)
  session.commit()

In [103]:
# invoke upsert
upsert_table(session,df)
session.close()
print('Data has been succssfully upserted')

Data has been succssfully upserted

In [108]:
import csv
from io import StringIO

Base = declarative_base()

class CropYield(Base):
    __tablename__ = 'crop_yields'

    id = Column(Integer, primary_key=True)
    Dist_Code = Column(Integer)
    Year = Column(Integer)
    State_Code = Column(String)
    State_Name = Column(String)
    Dist_Name = Column(String)
    RICE_AREA = Column(Float)
    RICE_PRODUCTION = Column(Float)
    RICE_YIELD = Column(Float)
    WHEAT_AREA = Column(Float)
    WHEAT_PRODUCTION = Column(Float)
    WHEAT_YIELD = Column(Float)

def create_table_and_upsert(csv_path_url, db_url):
    # Create engine and session
    engine = create_engine(db_url)
    Base.metadata.create_all(engine)
    Session = sessionmaker(bind=engine)
    session = Session()

    with open(csv_path_url, 'r') as file:
        csv_reader = csv.DictReader(file)


# Upsert the data
        for row in csv_reader:
            crop_yield = CropYield(
                Dist_Code=int(row['Dist Code']),
                Year=int(row['Year']),
                State_Code=row['State Code'],
                State_Name=row['State Name'],
                Dist_Name=row['Dist Name'],
                RICE_AREA=float(row['RICE AREA (1000 ha)']),
                RICE_PRODUCTION=float(row['RICE PRODUCTION (1000 tons)']),
                RICE_YIELD=float(row['RICE YIELD (Kg per ha)']),
                WHEAT_AREA=float(row['WHEAT AREA (1000 ha)']),
                WHEAT_PRODUCTION=float(row['WHEAT PRODUCTION (1000 tons)']),
                WHEAT_YIELD=float(row['WHEAT YIELD (Kg per ha)'])
            )

            # Check if the record already exists
            existing_record = session.query(CropYield).filter_by(
      Dist_Code=crop_yield.Dist_Code,
      Year=crop_yield.Year,
      State_Code=crop_yield.State_Code
  ).first()

            if existing_record:
                # Update existing record
                for key, value in crop_yield.__dict__.items():
                    if key != '_sa_instance_state':
                        setattr(existing_record, key, value)
            else:
                # Insert new record
                session.add(crop_yield)

    # Commit the changes and close the session
    session.commit()
    session.close()

In [109]:

create_table_and_upsert('/content/crop_yield_prod_data.csv','postgresql://datspacedb_owner:XYak9IH4MpPG@ep-still-night-a1ctysym-pooler.ap-southeast-1.aws.neon.tech/crop-insurance?sslmode=require')

In [ ]:
df3=pd.read_excel('/content/district wise rainfall normal.xls',engine='openpyxl')
df3.head()

In [144]:
from sqlalchemy.orm import column_property
class RainfallNormal(Base):
    __tablename__ = 'rainfall_normal'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    STATE_UT_NAME = Column(String)
    DISTRICT = Column(String)
    JAN = Column(Float)
    FEB = Column(Float)
    MAR = Column(Float)
    APR = Column(Float)
    MAY = Column(Float)
    JUN = Column(Float)
    JUL = Column(Float)
    AUG = Column(Float)
    SEP = Column(Float)
    OCT = Column(Float)
    NOV = Column(Float)
    DEC = Column(Float)
    ANNUAL = Column(Float)
    # Jan_Feb = Column(Float)
    # Mar_May = Column(Float)
    # Jun_Sep = Column(Float)
    # Oct_Dec = Column(Float)

class ActualMonthlyRainfall(Base):
    __tablename__ = 'actual_monthly_rainfall'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    St_code = Column(Integer)
    State = Column(String)
    Year = Column(Integer)
    Jan = Column(Float)
    Feb = Column(Float)
    Mar = Column(Float)
    Apr = Column(Float)
    May = Column(Float)
    Jun = Column(Float)
    Jul = Column(Float)
    Aug = Column(Float)
    Sep = Column(Float)
    Oct = Column(Float)
    Nov = Column(Float)
    Dec = Column(Float)
    Total = Column(Float)

class SoilData(Base):
    __tablename__ = 'soil_data'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    State = Column(String)
    Nitrogen_High = column_property(Column(Float))
    Nitrogen_Medium = column_property(Column(Float))
    Nitrogen_Low = column_property(Column(Float))
    Phosphorous_High = column_property(Column(Float))
    Phosphorous_Medium = column_property(Column(Float))
    Phosphorous_Low = column_property(Column(Float))
    Potassium_High = column_property(Column(Float))
    Potassium_Medium = column_property(Column(Float))
    Potassium_Low = column_property(Column(Float))
    OC_High = column_property(Column(Float))
    OC_Medium = column_property(Column(Float))
    OC_Low = column_property(Column(Float))
    EC_Saline = column_property(Column(Float))
    EC_Non_Saline = column_property(Column(Float))
    pH_Acidic = column_property(Column(Float))
    pH_Neutral = column_property(Column(Float))
    pH_Alkaline = column_property(Column(Float))

    # Mapping between CSV headers and model attributes
    csv_mapping = {
        "State": "State",
        "Nitrogen - High": "Nitrogen_High",
        "Nitrogen - Medium": "Nitrogen_Medium",
        "Nitrogen - Low": "Nitrogen_Low",
        "Phosphorous - High": "Phosphorous_High",
        "Phosphorous - Medium": "Phosphorous_Medium",
        "Phosphorous - Low": "Phosphorous_Low",
        "Potassium - High": "Potassium_High",
        "Potassium - Medium": "Potassium_Medium",
        "Potassium - Low": "Potassium_Low",
        "OC - High": "OC_High",
        "OC - Medium": "OC_Medium",
        "OC - Low": "OC_Low",
        "EC - Saline": "EC_Saline",
        "EC - Non Saline": "EC_Non_Saline",
        "pH - Acidic": "pH_Acidic",
        "pH - Neutral": "pH_Neutral",
        "pH - Alkaline": "pH_Alkaline"
    }
    @classmethod
    def from_csv_row(cls, row):
        data = {}
        for k, v in row.items():
            if k in cls.csv_mapping:
                # Check if the value is a string and contains a percentage sign
                if isinstance(v, str) and '%' in v:
                    try:
                        # Remove the percentage sign and convert to float
                        data[cls.csv_mapping[k]] = float(v.strip('%')) / 100
                    except ValueError:
                        # Handle cases where conversion fails
                        data[cls.csv_mapping[k]] = None  # or any other suitable default
                else:
                    data[cls.csv_mapping[k]] = v
        return cls(**data)

<ipython-input-144-488e81301b68>:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.RainfallNormal, and will be replaced in the string-lookup table.
  class RainfallNormal(Base):
<ipython-input-144-488e81301b68>:26: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.ActualMonthlyRainfall, and will be replaced in the string-lookup table.
  class ActualMonthlyRainfall(Base):
<ipython-input-144-488e81301b68>:47: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.SoilData, and will be replaced in the string-lookup table.
  class SoilData(Base):

In [148]:
def upload_data(db_url, actual_rainfall_file,normal_rainfall_file, soil_data_file):
    # Create engine and session
    engine = create_engine(db_url)
    Base.metadata.create_all(engine)
    Session = sessionmaker(bind=engine)
    session = Session()

  # Upload crop yield data
    df_actual_rainfall = pd.read_csv(actual_rainfall_file)
    # Convert 'St_code' column to integers, handling invalid values
    df_actual_rainfall['St_code'] = pd.to_numeric(df_actual_rainfall['St_code'].str.replace(',', ''), errors='coerce').astype('Int64')  # 'coerce' converts invalid values to NaN, then cast to Int64 to handle NaNs
    for _, row in df_actual_rainfall.iterrows():
        rainfall = ActualMonthlyRainfall(**row.to_dict())
        session.add(rainfall)


    # Upload rainfall normal data
    # df_rainfall = pd.read_csv(normal_rainfall_file)
    # for _, row in df_rainfall.iterrows():
    #     rainfall = RainfallNormal(**row.to_dict())
    #     session.add(rainfall)
    # upload soil data
    # df_soil_data = pd.read_csv(soil_data_file)
    # for _, row in df_soil_data.iterrows():
    #     soil = SoilData.from_csv_row(row)
    #     session.add(soil)
    # Commit the changes and close the session
    session.commit()
    session.close()

    print("Data uploaded successfully.")

In [133]:
actual_rainfall_file='/content/actual-monthly-rainfall.csv'
rainfall_file='/content/district wise rainfall normal.csv'
soil_data_file='/content/soil_data.csv'
db_url='postgresql://datspacedb_owner:XYak9IH4MpPG@ep-still-night-a1ctysym-pooler.ap-southeast-1.aws.neon.tech/crop-insurance?sslmode=require'

In [149]:
upload_data(db_url,actual_rainfall_file,rainfall_file,soil_data_file)

Data uploaded successfully.